:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --accent-hover-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.h1.h6 {
  margin: 0;
  padding: 0;
}

.p {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* -----------heder----------- */

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.accent {
  color: var(--accent-color);
}

.mane-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list .item + .item {
  margin-left: 50px;
}

.header-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-link:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link:hover::after,
.header-link:focus::after {
  opacity: 1;
}

.header-link.current {
  color: var(--accent-color);
}

.header-link.current::after {
  opacity: 1;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.header-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link:hover .header-icon,
.contacts-link:focus .header-icon {
  fill: var(--accent-color);
}

/* hero----------------------------------------- */

.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

/* ----------Особенносьти---------- */

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item + .features-item {
  margin-left: 30px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* ----------Чем мы занимаемся---------- */

.work {
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item + .work-item {
  margin-left: 30px;
}

.work-images {
  position: relative;
}

.work-name {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* ----------Наша команда---------- */

.team {
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-title {
  margin: 0;
  padding-top: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.position {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-icon {
  fill: #afb1b8;
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

/* Постоянные клиенты--------------------- */

.customers {
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customers-item {
  width: 170px;
  height: 92px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
}

.customers-icon {
  fill: #afb1b8;
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-color);
}

/* ----------footer---------- */

.footer {
  background-color: #2f303a;
}

.accent-secondary {
  color: #ffffff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
  align-items: center;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.info-link {
  padding: 0px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.info-link:last-child {
  margin-bottom: 0;
}

.address-link {
  color: #ffffff;
}

.info-link .contacts-link {
  padding: 0;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* ---------------------- */

.social {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.social-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: var(--accent-hover-color);
}

/* портволио------------------------------------- */

.portfolio {
  margin-bottom: 94px;
}

.navigation-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.navigation-item + .navigation-item {
  margin-left: 8px;
}

.btn-link {
  display: block;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  color: var(--secondary-text-color);
  background: #f5f4fa;

  cursor: pointer;
}

.btn-link:hover,
.btn-link:focus {
  color: var(--accent-hover-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.jobs-list {
  display: flex;
  flex-wrap: wrap;
}

.jobs-link {
  display: block;
}

.jobs-link:hover,
.jobs-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.direction-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.direction-item:nth-child(3n) {
  margin-right: 0;
}

.direction-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.direction-title {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.direction-name {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.direction-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* modal--------------------------- */

.bakcdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.bakcdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 8px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.modal-icon {
  width: 18px;
  height: 18px;
}
