.soc {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    &__item {
        width: 44px;
        height: 44px;

        &+& {
            margin-left: 10px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 50%;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    }

    &__icon {
        fill: #afb1b8;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .soc__link:hover &,
        .soc__link:focus & {
            fill: #ffffff;
        }
    }
}